@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  background-color: #f8fafc; /* Slate-50 */
  color: #1e293b; /* Slate-800 agar teks terlihat jelas */
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
}

/* Memastikan semua teks yang tidak diberi warna akan otomatis gelap */
* {
  color-interpolation-filters: sRGB;
  -webkit-font-smoothing: antialiased;
}